{% extends "../base.html" %}
{% block titulo %}Inicio{% endblock %}
{% block contenedor %}

<!-- Home Subpage -->
  <section class="animated-section start-page ps section-active ps--theme_default">
    <div class="section-content vcentered">

        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="title-block">
              <h2>Alejandro Planells</h2>
              <div class="owl-carousel text-rotation">
                <div class="item">
                  <div class="sp-subtitle">Desarrollador Frontend</div>
                </div>

                <div class="item">
                  <div class="sp-subtitle">Diseñador web</div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </section>
  <!-- End of Home Subpage -->

{% endblock %}