{% extends "../base.html" %}
{% block titulo %}Portfolio{% endblock %}
{% block contenedor %}

<!-- Portfolio Subpage -->
<section class="animated-section start-page ps section-active ps--theme_default">
<div class="page-title">
  <h2>Portfolio</h2>
</div>

<div class="section-content">

  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <!-- Portfolio Content -->
      <div class="portfolio-content">

        <ul class="portfolio-filters">
          <li class="active">
            <a class="filter btn btn-sm btn-link" data-group="categoria_todos">Todos</a>
          </li>

            {% for ctg in portfolio_category %}
                <li>
                    <a class="filter btn btn-sm btn-link" data-group="{{ ctg.name }}">{{ ctg.name }}</a>
                </li>
            {% endfor %}

        </ul>

        <!-- Portfolio Grid -->
        <div class="portfolio-grid three-columns">

          {% if portfolio %}

          {% for portfolio in portfolio %}

          <figure class="item lbaudio" data-groups='["categoria_todos", "{{ portfolio.category }}"]'>
            <div class="portfolio-item-img">
              <img src="{{ portfolio.photo.url }}" alt="{{ portfolio.title }}" title="{{ portfolio.title }}" />
              <a href="{% url "portfolio-details" portfolio.id %}" title="{{ portfolio.title }}"></a>
            </div>

            <i class="fa fa-volume-up"></i>
            <h4 class="name">{{ portfolio.title }}</h4>
            <span class="category">{{ portfolio.portfolio_type }}</span>
          </figure>

          {% endfor %}

          {% else %}

              <figure class="item lbaudio" style="width: 100%" data-groups='["categoria_todos"{% for ctg in portfolio_category %},"{{ ctg.name }}"{% endfor %}]'>
                  <h2 class="text-danger">No existe ningun portfolio por el momento</h2>
              </figure>

          {% endif %}







        </div>
      </div>
      <!-- End of Portfolio Content -->
    </div>
  </div>
</div>
</section>
<!-- End of Portfolio Subpage -->

{% endblock %}