{% extends "../base.html" %}
{% block titulo %}Resumen{% endblock %}
{% block contenedor %}

<!-- Resume Subpage -->
<section class="animated-section start-page ps section-active ps--theme_default">
<div class="page-title">
  <h2>Resumen</h2>
</div>

<div class="section-content">

  <div class="row">
    <div class="col-xs-12 col-sm-7">

      <div class="block-title">
        <h3>Educación</h3>
      </div>

      <div class="timeline timeline-second-style clearfix">
        <div class="timeline-item clearfix">
          <div class="left-part">
            <h5 class="item-period">2019 – Actual</h5>
            <span class="item-company">Grupo Studio Formación</span>
          </div>
          <div class="divider"></div>
          <div class="right-part">
            <h4 class="item-title">Grado superior de desarrollo de aplicaciones web</h4>
            <p>Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis ante.</p>
          </div>
        </div>

        <div class="timeline-item clearfix">
          <div class="left-part">
            <h5 class="item-period">2017 – 2019</h5>
            <span class="item-company">Escuelas Profesionales de Artesanos</span>
          </div>
          <div class="divider"></div>
          <div class="right-part">
            <h4 class="item-title">Grado medio de sistemas microinformáticos y redes</h4>
            <p>Aliquam tincidunt malesuada tortor vitae iaculis. In eu turpis iaculis, feugiat risus quis, aliquet urna. Quisque fringilla mollis risus, eu pulvinar dolor.</p>
          </div>
        </div>
      </div>

      <div class="white-space-50"></div>

      <div class="block-title">
        <h3>Experiencia</h3>
      </div>

      <div class="timeline timeline-second-style clearfix">

        <div class="timeline-item clearfix">
          <div class="left-part">
            <h5 class="item-period">2021 - Actual</h5>
            <span class="item-company">Spainity</span>
          </div>
          <div class="divider"></div>
          <div class="right-part">
            <h4 class="item-title">Asistente de desarrollo web</h4>
            <p>Durante este periodo soy el encargado de controlar y derrollar toda la pagina web, implemento de mejores, conectores con otras tiendas, etc...</p>
          </div>
        </div>

        <div class="timeline-item clearfix">
          <div class="left-part">
            <h5 class="item-period">2018</h5>
            <span class="item-company">Informática Russafa</span>
          </div>
          <div class="divider"></div>
          <div class="right-part">
            <h4 class="item-title">Técnico de hardware para pruebas y verificación de equipos informáticos</h4>
            <p>Mis tareas principales era el análisis y reparación de hardware o software, ya sean  ordenadores, portátiles, tables o móviles.
                También he sido encargado en la atención al cliente y servicio técnico a domicilio.</p>
          </div>
        </div>

      </div>

    </div>

    <!-- Skills & Certificates -->
    <div class="col-xs-12 col-sm-5">

      <div class="white-space-10"></div>

      <!-- Coding Skills -->
      <div class="block-title">
        <h3>Coding <span>Skills</span></h3>
      </div>

      <div class="skills-info skills-second-style">

        <!-- Skill 3 -->
        <div class="skill clearfix">
          <h4>HTML/CSS</h4>
          <div class="skill-value">100%</div>
        </div>
        <div class="skill-container skill-3">
          <div class="skill-percentage"></div>
        </div>
        <!-- End of Skill 3 -->

        <!-- Skill 4 -->
        <div class="skill clearfix">
          <h4>JavaScript</h4>
          <div class="skill-value">75%</div>
        </div>
        <div class="skill-container skill-4">
          <div class="skill-percentage"></div>
        </div>
        <!-- End of Skill 4 -->

        <!-- Skill 5 -->
        <div class="skill clearfix">
          <h4>Python</h4>
          <div class="skill-value">85%</div>
        </div>
        <div class="skill-container skill-5">
          <div class="skill-percentage"></div>
        </div>
        <!-- End of Skill 5 -->



        <!-- Skill 6 -->
        <div class="skill clearfix">
          <h4>Bash</h4>
          <div class="skill-value">65%</div>
        </div>
        <div class="skill-container skill-6">
          <div class="skill-percentage"></div>
        </div>
        <!-- End of Skill 6 -->


      </div>
      <!-- End of Coding Skills -->


        <!-- Framework Skills -->
      <div class="block-title">
        <h3>FrameWorks <span>Skills</span></h3>
      </div>

      <div class="skills-info skills-second-style">
        <!-- Skill 1 -->
        <div class="skill clearfix">
          <h4>Angular</h4>
          <div class="skill-value">75%</div>
        </div>
        <div class="skill-container skill-1">
          <div class="skill-percentage"></div>
        </div>
        <!-- End of Skill 1 -->

        <!-- Skill 2 -->
        <div class="skill clearfix">
          <h4>Django</h4>
          <div class="skill-value">95%</div>
        </div>
        <div class="skill-container skill-2">
          <div class="skill-percentage"></div>
        </div>
        <!-- End of Skill 2 -->



      </div>
      <!-- End of Framework Skills -->

      <div class="white-space-10"></div>

      <!-- Conocimientos -->
      <div class="block-title">
        <h3>Conocimientos</h3>
      </div>

      <ul class="knowledges">
          Gestores de bases de datos:<br>
        <li>MongoDB</li>
        <li>MySQL</li>
        <li>SQLite</li><br><br>
          Gestores de paquetes:<br>
        <li>npm</li>
        <li>conda</li>
        <li>pip</li>
        <li>apt-get</li><br><br>
          IDEs:<br>
        <li>Spyder</li>
        <li>Visual Studio</li>
        <li>Eclipse</li>
        <li>NetBeans</li>
        <li>Atom</li>
        <li>PyCharm</li>


      </ul>
      <!-- End of Conocimientos -->
    </div>
    <!-- End of Skills & Certificates -->
  </div>

  <div class="white-space-50"></div>


</div>
</section>
<!-- End of Resume Subpage -->


{% endblock %}